<h1 class="display-2 text-center mb-4">
	Administração de Usuários
</h1>
<div class="admin-page table-responsive">
  <table class="table table-striped table-hover">  
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button class="fa-solid fa-pencil btn text-secondaryary" (click)="onEdit(user, content)"></button>
          <button class="fa-solid fa-close btn text-danger" (click)="openDeleteModal(user, deleteModal)"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar usuário</h4>
    <button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="mb-3">
        <label for="username">Username</label>
        <input id="username" type="text" class="form-control" formControlName="username">
        <div *ngIf="editForm.get('username')?.invalid && (editForm.get('username')?.dirty || editForm.get('username')?.touched)" class="text-danger">
          Nome de usuário é obrigatório.
        </div>
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" formControlName="email">
        <div *ngIf="editForm.get('email')?.invalid && (editForm.get('email')?.dirty || editForm.get('email')?.touched)" class="text-danger">
          Insira um email válido.
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Salvar</button>
  </div>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Deletar usuário</h4>
    <button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    Tem certeza que deseja deletar o usuário {{ userToDelete?.username }}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Deletar</button>
  </div>
</ng-template>