<div class="course-name">
    {{ course.name }}
</div>

<main class="base">
    <div class="back-link"><a [routerLink]="['/']">Back</a></div>
    <button class="new-section btn" (click)="openAddSectionModal(course, addSectionModal)">
		<mat-icon>add</mat-icon> 
		New Section
	</button>
    <div *ngIf="sections.length > 0; else noSections">
        <div *ngFor="let section of sections; index as section_idx">
            <div *ngIf="section.course == course.url" >
                <div class="section-item">
                    {{ section.name }}
                    <button class="fa-solid fa-pencil btn text-primary" aria-hidden="true" (click)="openEditSectionModal(section, editSectionModal)"></button>
			        <button class="fa-solid fa-close btn text-danger" aria-hidden="true" (click)="openDeleteSectionModal(section, deleteSectionModal)"></button>
                </div>
				<button class="new-question btn" (click)="openAddQuestionModal(section, addQuestionModal)">
					<mat-icon>add</mat-icon> 
					New Question
				</button>
				
				<div *ngIf="hasQuestionWithSectionUrl(section_idx); else noQuestions">
                	<div *ngFor="let question of questions; index as question_idx">
						<div *ngIf="question.section == section.url">
							<div class="questions">
								<a [routerLink]="['/question', question.id]" class="question-link">{{ question_idx + 1 }}. {{ question.name }} </a>
								<button [routerLink]="['/question/edit', question.id]" class="fa-solid fa-pencil btn text-primary" aria-hidden="true"></button>
								<button class="fa-solid fa-close btn text-danger" aria-hidden="true" (click)="openDeleteQuestionModal(question, deleteQuestionModal)"></button>
							</div>
						</div>
					</div>
                </div>
                {{ inc_cont() }}
            </div>
        </div>
        <div *ngIf="cont > 0; else noSections">

        </div>
        {{ reset_cont() }}
    </div>
</main>

<ng-template #noSections>
    <p class="no-sections-message">No sections are available.</p>
</ng-template>

<ng-template #noQuestions>
    <p class="no-questions-message">No questions are available.</p>
</ng-template>

<ng-template #addSectionModal let-modal>
	<div class="modal-header">
	  <h4 class="modal-title" id="modal-basic-title">Criar nova seção</h4>
	  <button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="addSectionForm">
		  <div class="mb-3">
			<label for="name">Name</label>
			<input id="name" type="text" class="form-control" formControlName="name">
			<div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)" class="text-danger">
			  Nome do curso é obrigatório.
			</div>
		  </div>
		</form>
	  </div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancelar</button>
	  <button type="button" class="btn btn-danger" (click)="confirmAddSection()">Criar</button>
	</div>
</ng-template>

<ng-template #addQuestionModal let-modal>
	<div class="modal-header">
	  <h4 class="modal-title" id="modal-basic-title">Criar nova questão</h4>
	  <button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="addQuestionForm">
			<div>
			  <label for="name" class="base-form">Name:</label>
			  <input id="name" type="text" class="form-control base-bar" formControlName="name">
			  <div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)" class="text-danger">
				Nome da questão é obrigatório.
			  </div>
			</div>
  
			<div>
			  <label for="description" class="base-form">Description:</label>
			  <input id="description" type="text" class="form-control base-bar" formControlName="description">
			</div>
  
			<div>
			  <label for="language" class="base-form">Language:</label>
			  <select class="form-control" id="language" formControlName="language">
				<option value="" disabled>Select language</option>
				<option value="PT">Python</option>
				<option value="CC">C/C++</option>
			  </select>
			</div>
  
			<div>
			  <label for="time_limit_seconds" class="base-form">Time limit seconds:</label>
			  <input id="time_limit_seconds" type="number" class="form-control base-bar" formControlName="time_limit_seconds">
			  <div *ngIf="editForm.get('time_limit_seconds')?.invalid && (editForm.get('time_limit_seconds')?.dirty || editForm.get('time_limit_seconds')?.touched)" class="text-danger">
				  Tempo limite de execução em segundos obrigatório.
				</div>
			</div>
  
			<div>
			  <label for="memory_limit" class="base-form">Memory limit:</label>
			  <input id="memory_limit" type="number" class="form-control base-bar" formControlName="memory_limit">
			  <div *ngIf="editForm.get('memory_limit')?.invalid && (editForm.get('memory_limit')?.dirty || editForm.get('memory_limit')?.touched)" class="text-danger">
				  Limite de memória obrigatório.
				</div>
			</div>
  
			<div>
			  <label for="cpu_limit" class="base-form">CPU limit:</label>
			  <input id="cpu_limit" type="number" class="form-control base-bar" formControlName="cpu_limit">
			  <div *ngIf="editForm.get('cpu_limit')?.invalid && (editForm.get('cpu_limit')?.dirty || editForm.get('cpu_limit')?.touched)" class="text-danger">
				  Limite da CPU obrigatório.
				</div>
			</div>
  
			<div>
			  <label for="submission_deadline" class="base-form">Submission deadline:</label>
			  <input id="submission_deadline" type="text" class="form-control base-bar" formControlName="submission_deadline">
			  <div *ngIf="editForm.get('submission_deadline')?.invalid && (editForm.get('submission_deadline')?.dirty || editForm.get('submission_deadline')?.touched)" class="text-danger">
				  Data limite obrigatória.
				</div>
			</div>
		  </form>
	  </div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancelar</button>
	  <button type="button" class="btn btn-danger" (click)="confirmAddQuestion()">Criar</button>
	</div>
</ng-template>

<ng-template #deleteSectionModal let-modal>
	<div class="modal-header">
	  <h4 class="modal-title" id="modal-basic-title">Deletar seção</h4>
	  <button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
	  Tem certeza que deseja deletar a seção?
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancelar</button>
	  <button type="button" class="btn btn-danger" (click)="confirmDeleteSection()">Deletar</button>
	</div>
  </ng-template>

  <ng-template #deleteQuestionModal let-modal>
	<div class="modal-header">
	  <h4 class="modal-title" id="modal-basic-title">Deletar seção</h4>
	  <button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
	  Tem certeza que deseja deletar a questão?
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancelar</button>
	  <button type="button" class="btn btn-danger" (click)="confirmDelete()">Deletar</button>
	</div>
  </ng-template>

  <ng-template #editSectionModal let-modal>
	<div class="modal-header">
	  <h4 class="modal-title" id="modal-basic-title">Editar seção</h4>
	  <button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
	  <form [formGroup]="editForm">
		<div class="mb-3">
		  <label for="name">Name</label>
		  <input id="name" type="text" class="form-control" formControlName="name">
		  <div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)" class="text-danger">
			Nome da seção é obrigatório.
		  </div>
		</div>
	  </form>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancelar</button>
	  <button type="button" class="btn btn-primary" (click)="confirmSaveSection()">Salvar</button>
	</div>
</ng-template>