.base {
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.course-name{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3%;
    padding-top: 2%;
}

.questions {
  max-width: 45%;
  margin: auto auto;
  font-size: 15px;
  padding: 0.25%;
}

.new-section {
  color: blue;
  font-size: 12pt;
  max-width: 50%;
  margin-left: 24%;
}

.new-question {
  color: blue;
  font-size: 12pt;
  max-width: 100%;
  margin-left: 26.5%;
}
  
.section-item {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  max-width: 50%;
  margin-bottom: 0.5%;
}

.back-link {
  margin-bottom: 5%;
  max-width: 50%;
  margin: 0 auto;
  font-size: 12pt;
}

.no-sections-message {
    font-size: 15pt;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    max-width: 50%;
    margin: 0 auto auto auto;
  }

.no-questions-message {
  font-size: 12pt;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  max-width: 45%;
  font-size: 15px;
  padding: 0.25%;
  margin-bottom: 2%;
}