<nav class="navbar navbar-expand-lg sticky-top custom-nav-color" data-bs-theme="dark">
  <div class="container">

    <a class="navbar-brand fs-4" href="#">Testr 2.0</a>

    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Testr 2.0</h5>
        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1">
          <li *ngFor="let item of sidebarItems" class="nav-item mx-1 mt-2">  
            <a *ngIf="!item.dropdown"  class="nav-link" [routerLink]="[item.link]">{{ item.label }}</a>
            <div *ngIf="item.dropdown" ngbDropdown>
              <a class="nav-link" ngbDropdownToggle role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ item.label }}</a>
              <ul ngbDropdownMenu class="dropdown-menu">
                <li *ngFor="let sublink of item.sublinks" >
                  <a class="dropdown-item" ngbDropdownItem [routerLink]="[sublink.link]">{{ sublink.label }}</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        
        <ul class="navbar-nav d-flex flex-row justify-content-center align-items-center" *ngIf="authenticated">
          <!-- Dropdown com opção de alterar senha -->
          
          <li class="nav-item dropdown" ngbDropdown class="d-inline-block">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" ngbDropdownToggle aria-expanded="false">
              <i class="fa-regular fa-user"></i>&nbsp; {{ user.username }}
            </a>
            <ul ngbDropdownMenu aria-labelledby="navbarDropdown">
              <li>
                <a ngbDropdownItem (click)="openChangePasswordModal(changePasswordModal)">Alterar Senha</a>
              </li>
            </ul>
          </li>
          <li class="nav-item ms-1 my-1">
            <a class="btn btn-primary" (click)="logout()">Logout</a>
          </li>
        </ul>
        

        <ul class="navbar-nav d-flex flex-row justify-content-center fs-5" *ngIf="!authenticated">
          <li class="nav-item mx-1 my-1">
            <a class="btn btn-outline-light" routerLink="/accounts/login">Login</a>
          </li>
          <li class="nav-item ms-1 my-1">
            <a class="btn btn-primary"  routerLink="/accounts/register">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<!-- Modal para alterar senha -->
<ng-template #changePasswordModal let-modal>

  <div class="modal-header">
        <h5 class="modal-title" id="changePasswordModalLabel">Alterar Senha</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="resetForm()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="changePasswordForm" >
          <div class="mb-3">
            <label for="currentPassword" class="form-label">Senha Atual</label>
            <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword">
            <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)">
              <small class="text-danger" *ngIf="changePasswordForm.get('currentPassword')?.errors?.['required']
              ">Senha atual é obrigatória</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">Nova Senha</label>
            <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
            <div *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)">
              <small class="text-danger" *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">Nova senha é obrigatória</small>
              <small class="text-danger" *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">Nova senha deve ter no mínimo 6 caracteres</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirmar Nova Senha</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
            <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && (changePasswordForm.get('confirmPassword')?.dirty || changePasswordForm.get('confirmPassword')?.touched)">
              <small class="text-danger" *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">Confirmação de senha é obrigatória</small>
              <small class="text-danger" *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']">Senhas não coincidem</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss()" (click)="resetForm()">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid" (click)="changePassword()">Salvar</button>
      </div>
</ng-template>


      