# .env

# Variáveis do Django Backend
SECRET_KEY=super-secret-key
DEBUG=True
LANGUAGE_CODE=pt-br
TIME_ZONE=America/Sao_Paulo

# CORS
ALLOWED_HOSTS=0.0.0.0,localhost, 123.456.789 # Ip do servidor
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://123.456.789:8080 # Origens de requisição permitidas (frontend)

# Configurações do banco de dados
DATABASE_URL=<DATABASE_URL>
DB_TYPE=sqlite
DB_NAME=db.sqlite3
DB_USER=<DB USER>
DB_PASSWORD=<DB PASSWORD>
DB_HOST=<DB HOST>
DB_PORT=<DB PORT>

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin

CPP_CFLAGS="-g -Wall"
CPP_LFLAGS="-L ./ -lm"
CPP_IFLAGS="-I ./"
CPP_CC="gcc"

USE_DOCKER=false
AUTOJUDGE_DIRECTORY=./judge/