<div class="question-title">Question Editor</div>

<main>
    <div>
        <form [formGroup]="editForm">
          <div>
            <label for="name" class="name-form">Name:</label>
            <input id="name" type="text" class="form-control name-bar" formControlName="name">
            <div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)" class="text-danger">
              Nome da questão é obrigatório.
            </div>
          </div>

          <div>
            <label for="description" class="name-form">Description:</label>
            <input id="description" type="text" class="form-control name-bar" formControlName="description">
          </div>

          <div>
            <label for="language" class="name-form">Language:</label>
            <select class="form-control" id="language" name="language" [(ngModel)]="question.language" required>
                <option value="" disabled>Select Language</option>
                <option value="Python">Python</option>
                <option value="C">C/C++</option>
              </select>
              <div *ngIf="question.controls.language?.touched && question.controls.language?.invalid" class="text-danger">
                Please select a gender.
              </div>
          </div>

        </form>
      </div>
</main>

<ng-template #edit>
	<div>
	  <form [formGroup]="editForm">
		<div class="mb-3">
		  <label for="name">Name</label>
		  <input id="name" type="text" class="form-control" formControlName="name">
		  <div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)" class="text-danger">
			Nome do curso é obrigatório.
		  </div>
		</div>
	  </form>
	</div>
</ng-template>
