<h1 class="display-2 text-center mb-4">{{ question.name }}</h1>
<a
  class="icon-link icon-link-hover mb-2"
  style="cursor: pointer"
  (click)="goBack()"
>
  <i class="bi fa-solid fa-arrow-left"></i>
  Voltar
</a>
<br />
<!--Informações-->
<p>
  <strong>Deadline:</strong> {{ question.submission_deadline | dateFormat }}
</p>
<p><strong>Linguagem de Programação:</strong> {{ getLanguageName(question.language) }}</p>
<p><strong>Descrição:</strong> {{ question.description }}</p>

<!--Arquivos-->
<div *ngIf="questionFiles.length">
  <h3 class="fw-bold mb-3">Arquivos</h3>
  <ul class="list-group list-group-flush">
    <li *ngFor="let file of questionFiles" class="list-group-item">
      <a [href]="file.file_url" download>{{ file.file_name }}</a>
    </li>
  </ul>
</div>

<!--Entradas e Saídas-->
<h3 class="fw-bold mb-3">Entradas e Saídas</h3>
<div *ngFor="let io of ios; let i = index" class="row my-3">
  <div class="col">
    <label class="form-label"
      ><strong>Entrada {{ i + 1 }}</strong></label
    >
    <textarea class="form-control-plaintext border p-2" readonly>{{
      io.input
    }}</textarea>
  </div>
  <div class="col">
    <label class="form-label"
      ><strong>Saída {{ i + 1 }}</strong></label
    > 
    <textarea class="form-control-plaintext border p-2" readonly>{{
      io.output
    }}</textarea>
  </div>
</div>

<!--Arquivo a ser submetido-->
<h3 class="fw-bold mb-3">Submissão</h3>
<div class="d-flex flex-wrap mb-3">
  <input class="form-control me-2 my-1" type="file" (change)="onFileSelected($event)" style="max-width: 700px" />
  <button class="btn btn-success my-1" (click)="onSubmitFile()">Upload</button>
</div>

<div *ngIf="submission">
  <h3 class="fw-bold mb-3">Submissão Anterior</h3>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <th scope="row">Nome do Arquivo</th>
        <td>{{ submission.file_name }}</td>
      </tr>
      <tr>
        <th scope="row">Data da Submissão</th>
        <td>{{ submission.created_at | dateFormat }}</td>
      </tr>
      <tr>
        <th scope="row">Status</th>
        <td>{{ getSubmissionStatus(submission.status) }}</td>
      </tr>
      <tr>
        <th scope="row">Relatório</th>
        <td>{{ submission.report_json }}</td>
      </tr>
    </tbody>
  </table>
</div>
