<h1 class="display-2 text-center mb-3">Nova Questão</h1>
<br>

<div>
    <form [formGroup]="addQuestionForm">
        <!--Nome da questão-->
        <div>
            <label for="name" class="base-form">Name:</label>
            <input id="name" type="text" class="form-control" formControlName="name">
            <div
                *ngIf="addQuestionForm.get('name')?.invalid && (addQuestionForm.get('name')?.dirty || addQuestionForm.get('name')?.touched)"
                class="text-danger">
                Nome da questão é obrigatório.
            </div>
        </div>
        <!--Descrição da questão-->
        <div>
            <label for="description" class="base-form">Description:</label>
            <input id="description" type="text" class="form-control" formControlName="description">
        </div>
        <!--Linguagem da questão-->
        <div>
            <label for="language" class="base-form">Language:</label>
            <select class="form-control" id="language" formControlName="language">
                <option value="" disabled>Select language</option>
                <option value="PT">Python</option>
                <option value="CC">C/C++</option>
            </select>
        </div>
        <!--Código da questão-->
        <div>
            <label for="time_limit_seconds" class="base-form">Time limit seconds:</label>
            <input id="time_limit_seconds" type="number" class="form-control" formControlName="time_limit_seconds">
            <div *ngIf="addQuestionForm.get('time_limit_seconds')?.invalid && 
                (addQuestionForm.get('time_limit_seconds')?.dirty || addQuestionForm.get('time_limit_seconds')?.touched)"
                class="text-danger">
                Tempo limite de execução em segundos obrigatório.
            </div>
        </div>
        <!--Memória limite-->
        <div>
            <label for="memory_limit" class="base-form">Memory limit:</label>
            <input id="memory_limit" type="number" class="form-control" formControlName="memory_limit">
            <div
                *ngIf="addQuestionForm.get('memory_limit')?.invalid && (addQuestionForm.get('memory_limit')?.dirty || addQuestionForm.get('memory_limit')?.touched)"
                class="text-danger">
                Limite de memória obrigatório.
            </div>
        </div>
        <!--Limite de CPU-->
        <div>
            <label for="cpu_limit" class="base-form">CPU limit:</label>
            <input id="cpu_limit" type="number" class="form-control" formControlName="cpu_limit">
            <div
                *ngIf="addQuestionForm.get('cpu_limit')?.invalid && (addQuestionForm.get('cpu_limit')?.dirty || addQuestionForm.get('cpu_limit')?.touched)"
                class="text-danger">
                Limite da CPU obrigatório.
            </div>
        </div>
        <!--Data limite de submissão-->
        <div>
            <label for="submission_deadline" class="base-form">Submission deadline:</label>
            <input id="submission_deadline" type="text" class="form-control" formControlName="submission_deadline">
            <div
                *ngIf="addQuestionForm.get('submission_deadline')?.invalid && (addQuestionForm.get('submission_deadline')?.dirty || addQuestionForm.get('submission_deadline')?.touched)"
                class="text-danger">
                Data limite obrigatória.
            </div>
        </div>
        <div class="mt-3 mb-3" style="justify-content: space-between;">
            <button type="button" class="btn btn-primary col-2" (click)="confirmCreateQuestion()" style="margin-right: 66.66%;">Salvar</button>
            <button type="button" class="btn btn-danger col-2 go-back-btn" (click)="goBack()">Cancelar</button>
        </div>
    </form>
    <div class="mt-4 mb-4">
        <h3 class="fw-bold text-center">Inputs/Outputs</h3>
        <div>
            <p>input-output works!</p>
        </div>
    </div>
</div>