<div *ngIf="isProfessor; else studentView">
    <div class="card shadow-sm h-100">
        <div class="card-body h-100">

            <div *ngIf="isEditing; else viewMode" class="d-flex flex-wrap justify-content-between">
                <form [formGroup]="editForm">
                    <input #courseInput formControlName="name" type="text"
                        class="form-control input-inline fs-5 w-50" />
                </form>
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-sm fa-check fa-solid text-success" (click)="confirmEditInline()"></a>
                    <a class="btn btn-sm fa-solid fa-xmark text-danger" (click)="isEditing = false"></a>
                </div>
            </div>

            <ng-template #viewMode>
                <div class="h-100 d-flex flex-wrap justify-content-between mb-5">
                    <h5 class="card-title" [routerLink]="['/course', course.id]">{{ course.name }}</h5>
                    <div *ngIf="isProfessor">
                        <span *ngIf="course.visible; else visibleOff">
                            <a class="btn btn-sm fa-solid fa-eye text-primary"
                                (click)="changeVisibilityCourse(course)"></a>
                        </span>
                        <ng-template #visibleOff>
                            <a class="btn btn-sm fa-solid fa-eye-slash text-primary"
                                (click)="changeVisibilityCourse(course)"></a>
                        </ng-template>
                        <a class="btn btn-sm fa-regular fa-copy text-secondary"
                            (click)="copyRequested.emit(course)"></a>
                        <a class="btn btn-sm fa-solid fa-pencil text-primary" (click)="enableEdit()"></a>
                        <a class="btn btn-sm fa-solid fa-trash text-danger" (click)="toogleDeleteModal()"></a>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>
</div>

<ng-template #studentView>
    <div *ngIf="course.visible" class="card shadow-sm h-100">
        <div class="card-body h-100">
            <div class="h-100 d-flex flex-wrap justify-content-between mb-5">
                <h5 class="card-title" [routerLink]="['/course', course.id]">{{ course.name }}</h5>
            </div>
        </div>
    </div>
</ng-template>

<c-modal id="deleteModal" [(visible)]="visible">
    <c-modal-header>
        <h5 cModalTitle>Deletar curso</h5>
        <button (click)="toogleDeleteModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>Tem certeza que deseja deletar o curso {{ course.name }}?</c-modal-body>
    <c-modal-footer>
        <button (click)="toogleDeleteModal()" cButton color="secondary">Cancelar</button>
        <button *ngIf="isProfessor" cButton color="danger" (click)="deleteRequested.emit(course)">Deletar</button>
    </c-modal-footer>
</c-modal>