mat-card {
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
}

@media (min-width: 600px) {
  mat-card {
    max-width: 400px;
  }
}

mat-form-field {
  display: block;
}

#login-button {
  margin-top: 1em;
  width: 100%;
}
