<mat-card>
  <mat-card-content>
    <!-- Formulário de login -->
    <form [formGroup]="form" (ngSubmit)="submit()">
      <!-- Título do formulário -->
      <h2>Login</h2>
      
      <!-- Campo de e-mail -->
      <mat-form-field appearance="outline">
        <mat-label>Nome de Usuário</mat-label>
        <input matInput formControlName="username" required>
        <mat-icon matSuffix>person</mat-icon> <!-- Ícone de pessoa -->
        <!-- Exibir mensagem de erro se o campo de username for inválido -->
        <mat-error *ngIf="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)">
          O nome de usuário é obrigatório.
        </mat-error>
      </mat-form-field>
      
      <!-- Campo de senha -->
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-icon matSuffix>lock</mat-icon> <!-- Ícone de cadeado -->
        <!-- Exibir mensagem de erro se o campo de senha for inválido -->
        <mat-error *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
          A senha é obrigatória.
        </mat-error>
      </mat-form-field>
      
      <!-- Botão de login -->
      <button id="login-button" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        <mat-icon>login</mat-icon> <!-- Ícone de login -->
        Logar
      </button>

      <!-- Link para a página de cadastro -->
      <a routerLink="/accounts/register">Não tem uma conta? Cadastre-se</a>
    </form>
  </mat-card-content>
</mat-card>