<!-- Título do formulário -->
<div class="form-title">
    Faça Login no Seu Perfil
</div>

<div class="form">
    <!-- Formulário de login -->
    <form cForm [formGroup]="form" (ngSubmit)="submit()">

        <div>
            <c-input-group class="mb-4">
                <input cFormControl id="username" required type="text" value="Mark" Name="username"
                    formControlName="username" placeholder="Nome de Usuário" autofocus />
                <span cInputGroupText><i class="bi bi-person-fill"></i></span>
            </c-input-group>
            <!-- Exibir mensagem de erro se o campo de username for inválido -->
            <c-form-feedback
                [valid]="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)">
                O nome de usuário é obrigatório.
            </c-form-feedback>
        </div>

        <!-- Campo de senha -->
        <div>
            <c-input-group class="mb-4">
                <input cFormControl id="password" type="password" formControlName="password" required
                    placeholder="Senha">
                <span cInputGroupText><i class="bi bi-lock-fill"></i></span>
            </c-input-group>

            <c-form-feedback
                [valid]="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
                A senha é obrigatória.
            </c-form-feedback>
        </div>

        <!-- Botão de login -->
        <div class="mb-4">
            <button cButton class="me-1" color="primary" id="login-button" type="submit" [disabled]="form.invalid">
                <i class="bi bi-box-arrow-in-right"></i>
                Logar
            </button>
        </div>

        <!-- Link para a página de cadastro -->
        <div class="text-center">
            <a routerLink="/accounts/register">Novo Aqui? Cadastre-se!</a>
        </div>

    </form>
</div>