@media(max-width: 991px) {
    .sidebar{
        background-color: var(--main-bg-color);
    }

    .dropdown-menu{
        width: 100%;
    }

}
.custom-nav-color {
    background-color: var(--main-bg-color);
}

.dropdown-menu{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: none;

}

.dropdown-item:hover{
    background-color: var(--hover-bg-color);
}

.footer {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    position: absolute;
    margin-top: auto;
    bottom: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 1%;
}

main {
    padding-bottom: 250px;
}
