:root {
    --main-bg-color: #0e2238;
    --main-text-color: #FFF;
    --hover-bg-color: rgba(255, 255, 255, 0.075);
    --hover-border-color: #3b7ddd;
    --sidebar-width-collapsed: 70px;
    --sidebar-width-expanded: 260px;
    --primary-color: #1a73e8;
    --secondary-color: #6c757d;
    --accent-color: #e91e63;
    --light-color: #f1f3f4;
    --dark-color: #202124;
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #F7F7F7;
    padding: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.page-section {
    padding-bottom: 40px;
}

.form-control,
.form-select {
    min-height: 3.5rem;
}

.form-check-input {
    width: 1.25rem;
    height: 1.25rem;
}

.bi {
    font-size: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}