
<!-- Título do formulário -->
<div class="form-title">
  Crie um Novo Perfil
</div>

<div class="form">
<form [formGroup]="form" (submit)="submit()">
  <!-- Campo de nome de usuário -->
  <mat-form-field appearance="outline">
    <mat-label>Nome de usuário</mat-label>
    <input matInput type="text" formControlName="username" required />
    <mat-icon matSuffix>person</mat-icon>
    <!-- Ícone do usuário -->
    <mat-error
      *ngIf="
        form.get('username')?.invalid &&
        (form.get('username')?.dirty || form.get('username')?.touched)
      "
    >
      O nome de usuário é obrigatório.
    </mat-error>
  </mat-form-field>

  <!-- Campo de e-mail -->
  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput type="email" formControlName="email" required />
    <mat-icon matSuffix>email</mat-icon>
    <!-- Ícone de e-mail -->
    <mat-error
      *ngIf="
        form.get('email')?.invalid &&
        (form.get('email')?.dirty || form.get('email')?.touched)
      "
    >
      Por favor, insira um e-mail válido.
    </mat-error>
  </mat-form-field>

  <!-- Campo de senha -->
  <mat-form-field appearance="outline">
    <mat-label>Senha</mat-label>
    <input matInput type="password" formControlName="password" required />
    <mat-icon matSuffix>lock</mat-icon>
    <!-- Ícone de cadeado -->
    <mat-error
      *ngIf="
        form.get('password')?.invalid &&
        (form.get('password')?.dirty || form.get('password')?.touched)
      "
    >
      <ng-container *ngIf="form.get('password')?.errors?.['required']">
        A senha é obrigatória.
      </ng-container>
      <ng-container *ngIf="form.get('password')?.errors?.['minlength']">
        A senha deve ter pelo menos 6 caracteres.
      </ng-container>
    </mat-error>
  </mat-form-field>

  <!-- Campo de confirmação de senha -->
  <mat-form-field appearance="outline">
    <mat-label>Confirmar senha</mat-label>
    <input
      matInput
      type="password"
      formControlName="password_confirm"
      required
    />
    <mat-icon matSuffix>lock</mat-icon>
    <!-- Ícone de cadeado -->
    <mat-error
      *ngIf="
        form.get('password_confirm')?.invalid &&
        (form.get('password_confirm')?.dirty ||
          form.get('password_confirm')?.touched)
      "
    >
      Por favor, confirme sua senha.
    </mat-error>
  </mat-form-field>

  <!-- Opção para selecionar se é professor ou aluno -->
  <mat-radio-group formControlName="group">
    <mat-radio-button value="teacher">Professor</mat-radio-button>
    <mat-radio-button value="student">Aluno</mat-radio-button>
  </mat-radio-group>

  <!-- Botão de registro com ícone -->
  <button
    id="register-button"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    <mat-icon>person_add</mat-icon>
    <!-- Ícone de adicionar usuário -->
    Registrar
  </button>

  <!-- Link para a página de login -->
  <div class="text-center">
    <a routerLink="/accounts/login">Já tem uma conta? Faça login</a>
  </div>
</form>
</div>