<h1 class="display-2 text-center mb-4">Courses</h1>

<div *ngIf="courses.length > 0; else noCourses" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
	<div *ngFor="let course of courses" class="col">
		<div class="card shadow-sm h-100">
			<div class="card-body h-100">
				<div *ngIf="course.isEditing; else viewMode" class="d-flex flex-wrap justify-content-between">
					<input #courseInput class="form-control input-inline h5 w-50" [(ngModel)]="course.name" />
					<div class="d-flex justify-content-between align-items-center">
						<a class="btn btn-sm fa-check fa-solid text-success" (click)="confirmEdit(course)"></a>
						<a class="btn btn-sm fa-solid fa-xmark text-danger" (click)="cancelEdit(course)"></a>
					</div>
				</div>
				<ng-template #viewMode>
					<div class="h-100 d-flex flex-wrap justify-content-between mb-5">
						<h5 class="card-title" [routerLink]="['/course', course.id]">{{ course.name }}</h5>
						<div>
							<a class="btn btn-sm fa-solid fa-pencil text-primary" (click)="enableEdit(course)"></a>
							<a class="btn btn-sm fa-solid fa-trash text-danger" (click)="openDeleteModal(course, deleteModal)"></a>
						</div>
					</div>
				</ng-template>
			</div>
		</div>
	</div>

	<div class="col" style="height: 138px;">
		<div class="card h-100 new-question border-0" (click)="openAddModal(addModal)">
			<div class="card-body d-flex align-items-center justify-content-center">
				<i class="fa-regular fa-plus fa-xl me-1"></i>
				<div>
					New Course
				</div>
			</div>
		</div>
	</div>
</div>


<ng-template #noCourses>
	<div class="col">
		<div class="card h-100 new-question border-0 "(click)="openAddModal(addModal)">
			<div class="card-body d-flex align-items-center justify-content-center">
					<i class="fa-regular fa-plus fa-xl me-1"></i>
					<div class="">New Course</div>
			</div>
		</div>
	</div>
	<p class="no-course-message">No courses are available.</p>
</ng-template>

<ng-template #editModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Editar curso</h4>
		<button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="editForm">
			<div class="mb-3">
				<label for="name">Name</label>
				<input id="name" type="text" class="form-control" formControlName="name">
				<div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)"
					class="text-danger">
					Nome do curso é obrigatório.
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancelar</button>
		<button type="button" class="btn btn-primary" (click)="confirmSave()">Salvar</button>
	</div>
</ng-template>

<ng-template #deleteModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Deletar curso</h4>
		<button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		Tem certeza que deseja deletar o curso?
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancelar</button>
		<button type="button" class="btn btn-danger" (click)="confirmDelete()">Deletar</button>
	</div>
</ng-template>

<ng-template #addModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Criar novo curso</h4>
		<button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="addForm">
			<div class="mb-3">
				<label for="name">Name</label>
				<input id="name" type="text" class="form-control" formControlName="name">
				<div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)"
					class="text-danger">
					Nome do curso é obrigatório.
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancelar</button>
		<button type="button" class="btn btn-primary" (click)="confirmAdd()">Criar</button>
	</div>
</ng-template>