.card-title {
  cursor: pointer;
}

.card-title:hover {
  color: #007bff;
  text-decoration: underline;
}

.new-question {
  cursor: pointer;
}

.new-question:hover {
  color: white;
  background-color: var(--main-bg-color);
}

